.navbar {
    background-color: #ff9b00;
}

.github-button {
    background-color: #ff9b00;
}

.new {
    border-top: 5px solid #ff9b00;
}

.custom-btn {
    background-color: #ff9b00 !important;
}
